<div class="popup popup-charge">
  <div class="content-block">
    <p style="text-align:center"><i class="f7-icons mainColor close-popup" style="font-size:5rem;">close</i></p>
    <p><span class="mainColor">Charge Info</p>
    <p><span class="mainColor">Wechat</span>: 13395810472</p>
    <p><span class="mainColor">QQ</span>: 2847972882</p>
  </div>
</div>