      <div class="toolbar tabbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="/search" class="tab-link active"> 
                <i class="f7-icons">search</i><span class="tabbar-label">Find</span>
            </a>
            {{#if user}}

                {{#if expat}}
                <a href="#" class="tab-link">
                    <i class="f7-icons" style="font-size: 2.8rem;color: #e3e3e3">add_round_fill</i><span class="tabbar-label"></span>
                </a>
                {{else}}
                <a href="/expat/expatInfo" class="tab-link">
                    <i class="f7-icons" style="font-size: 2.8rem;">add_round_fill</i><span class="tabbar-label"></span>
                </a>
                {{/if}}

            {{else}}
            <a href="#" class="tab-link open-login-screen">
                <i class="f7-icons" style="font-size: 2.8rem;">add_round_fill</i><span class="tabbar-label"></span>
            </a>
            {{/if}}
            {{!--<a href="/resume" class="tab-link">
                <i class="f7-icons">document_text</i><span class="tabbar-label">Resume</span>
            </a>--}}
            {{#if user}}
            <a href="#"  class="tab-link setting"> <i class="f7-icons">settings</i><span class="tabbar-label">Setting</span></a>
            {{else}}
            <a href="/user/login"  class="tab-link"> <i class="f7-icons">settings</i><span class="tabbar-label">Setting</span></a>
            {{/if}}

       </div>

       
      </div>
    