      <div class="toolbar tabbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="/search" class="tab-link active"> 
                <i class="f7-icons">search</i><span class="tabbar-label">Search</span>
            </a>
            <a href="/job/myJobs" class="tab-link">
                <i class="f7-icons">briefcase</i><span class="tabbar-label">My jobs</span>
            </a>
            {{!--<a href="/resume" class="tab-link">
                <i class="f7-icons">document_text</i><span class="tabbar-label">Resume</span>
            </a>--}}
            <a href="/job/more" class="tab-link"> <i class="f7-icons">more</i><span class="tabbar-label">More</span></a>
       </div>
      </div>