<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="/css/example.css">
{{/extend}}



    <!-- Views, and they are tabs-->
    <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
    <div class="views">
      <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->
      <div class="view view-main">
        <!-- Pages-->
        <div class="pages">
         {{> routine/home}}
        </div>
      </div>
    </div>

    {{#extend "js"}}
    {{/extend}}




