<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}} 
<style>
  .navbar>.navbar-inner>.left{
    color: rgba(239, 68, 80, 1);
  }
  .second-header{
    margin-bottom: 1rem;
    background-color: #f7f7f8;
    padding:0 1rem;
  }
  .second-header .col-70 p>i{
    font-size: 1rem;
    color: rgba(239, 68, 80, 1);
  }
  .second-header .col-30 p>i{
    font-size: 1rem;

  }  
  .second-header .col-70>p,.second-header .col-30>p{
    margin:0.8rem 0;
  }


  .authBtn{
    display: inline-block;
    border: 1px solid black;
    margin:0 2rem

  }

  i.yen{
    font-size: 0.8rem;
  }
  .resultContent{
    margin-top:1rem
  }
</style>

{{/extend}}

          <!-- Page, data-page contains page name-->
          <div class="page toolbar-fixed navbar-fixed"  data-page='home'>
              <div class="navbar">
                  <div class="navbar-inner">
                      <div class="left"></div>
                      <div class="center">2HOURS.CC</div>
                      <div class="right"><a href="#" class="open-panel"><i class="icon icon-bars"></i></a></div>
                  </div>
              </div> 
                <!-- Scrollable page content-->
                <div class="page-content infinite-scroll" data-distance="300"><!--infinite-scroll-->

                  <div class="row second-header">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-70">
                        <p><i class="f7-icons">sort</i> <span> &nbsp外语私教</span></p>
                      </div>
                      <div class="col-30"><p style="text-align: right"><a href="#" class="open-filter">筛选</a> &nbsp<i class="f7-icons">right</i></p></div>
                  </div> 

                 {{!--{{> post/postsLoop}}--}}
                    <div class="list-block media-list resultContent">
                      <ul class="expatsList">
                      </ul>
                    </div>
                    <!-- Preloader -->
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                      

                </div>
                <!-- end of Scrollable page content-->
                <!-- Additional "tabbar-scrollable" class -->
                 {{> general/tabbar}}
                <!--end of navbar--> 
          </div>




       <!--other page-->
       {{> modals/setting}}
    
       <!--end-->


        {{> modals/login}}







      {{> modals/filter}}
      





