<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Your app title -->
    <title>Trver</title>
    {{{block "tag"}}}
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, Material Theme -->
    <link rel="stylesheet" href="/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="/build/css/app.min.acabe226.css">
    {{{block "css"}}}


    <style>
      a.personLogo{
           display:inline-block;
           width:30px;
           height:30px;  
           overflow: hidden;
      }
      a.personLogo img{
        display: inline-block;
        width:100%;
        height:100%;
        border-radius: 100%;

      }
    </style>
</head>
<body>

    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <!-- Left Panel with Reveal effect -->
    {{!--<div class="panel panel-left panel-reveal">
        <div class="content-block">
        <p>Left Panel content here</p>
        <!-- Click on link with "close-panel" class will close panel -->
        <p><a href="#" class="close-panel">Close me</a></p>
        <!-- Click on link with "open-panel" and data-panel="right" attribute will open Right panel -->
        <p><a href="#" data-panel="right" class="open-panel">Open Right Panel</a></p>
        </div>
    </div>--}}

    {{> general/message}}
    {{{body}}}

    
    
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/js/framework7.min.js"></script>
    <!-- Path to your app .js -->
    <script src="/build/js/app.min.b94ca423.js"></script>

    {{{block "js"}}} <!--for hbs custom style-->

</body>
</html>